<div class="content-area submit-property" style="background-color: #fcfcfc;">
  &nbsp;
  <div class="container">
    <div class="clearfix">
      <div class="wizard-container">
        <div class="wizard-card ct-wizard-orange" id="wizardProperty">
          <form id="login" action="" method="">
            <div class="tab-content">
              <div id="step1">
                <div class="row p-b-15">
                  <div class="form-group">
                    <label for="email">Email or Username</label>
                    <input #email type="text" class="form-control" id="email" />
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input #password type="password" class="form-control" id="password" />
                  </div>
                  <!-- <a href="verify_code.html">Forgot Password?</a> -->

                  <div class="text-center">
                    <button type="button" class="btn btn-primary" (click)="login(email, password)">
                      Login
                    </button>
                  </div>
                  <h2 class="text-warning">You don't have an account ?!!</h2>
                  <!-- <div id="login_social">
                    <a href="javascript:void(0)" class="fb"
                      ><i class="fa fa-facebook"></i
                    ></a>
                    <a href="javascript:void(0)" class="tw"
                      ><i class="fa fa-twitter"></i
                    ></a>
                    <a href="javascript:void(0)" class="g-plus"
                      ><i class="fa fa-google-plus"></i
                    ></a>
                  </div> -->
                  <div class="text-center">
                    <a routerLink="/auth/signup" class="btn btn-default" style="cursor: pointer;">
                      Register
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>