<div style="margin: 45px;">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link active"
        style="cursor: pointer;"
        #NotRespondedReceived
        (click)="OnNotRespondedReceivedClicked(NotRespondedReceived)"
        >Not Responded Received Requests</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        style="cursor: pointer;"
        #NotRespondedSent
        (click)="OnNotRespondedSentClicked(NotRespondedSent)"
        >Not Responded Sent Requests</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        style="cursor: pointer;"
        #AcceptedReceived
        (click)="OnAcceptedReceivedClicked(AcceptedReceived)"
        >Accepted Received Requests</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        style="cursor: pointer;"
        #RejectedReceived
        (click)="OnRejectedReceivedClicked(RejectedReceived)"
        >Rejected Received Requests</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        style="cursor: pointer;"
        #AcceptedSent
        (click)="OnAcceptedSentClicked(AcceptedSent)"
        >Accepted Sent Requests</a
      >
    </li>

    <li class="nav-item">
      <a
        class="nav-link"
        style="cursor: pointer;"
        #RjecetedSent
        (click)="OnRjecetedSentClicked(RjecetedSent)"
        >Rjeceted Sent Requests</a
      >
    </li>
  </ul>

  <div class="container" *ngIf="isNotRespondedReceivedDisplayed">
    <app-not-responded-received-requests
      [notRespondedReceivedRequests]="notRespondedReceivedRequests"
      [displayed]="isNotRespondedReceivedDisplayed"
      (changed)="onNotRespondedReceivedChanged($event)"
    ></app-not-responded-received-requests>
  </div>

  <div class="container" *ngIf="isNotRespondedSentDisplayed">
    <app-not-responded-sent-requests
      [notRespondedSentRequests]="notRespondedSentRequests"
      [displayed]="isNotRespondedSentDisplayed"
      (changed)="onNotRespondedSentChanged($event)"
    ></app-not-responded-sent-requests>
  </div>

  <div class="container" *ngIf="isAcceptedReceivedDisplayed">
    <app-accepted-received-requests
      [acceptedReceivedRequests]="acceptedReceivedRequests"
      [displayed]="isAcceptedReceivedDisplayed"
    ></app-accepted-received-requests>
  </div>

  <div class="container" *ngIf="isAcceptedSentDisplayed">
    <app-accepted-sent-requests
      [acceptedSentRequests]="acceptedSentRequests"
      [displayed]="isAcceptedSentDisplayed"
    ></app-accepted-sent-requests>
  </div>

  <div class="container" *ngIf="isRejectedReceivedDisplayed">
    <app-rejected-received-requests
      [rejectedReceivedRequests]="rejectedReceivedRequests"
      [displayed]="isRejectedReceivedDisplayed"
    ></app-rejected-received-requests>
  </div>

  <div class="container" *ngIf="isRejectedSentDisplayed">
    <app-rejected-sent-requests
      [rejectedSentRequests]="rejectedSentRequests"
      [displayed]="isRejectedSentDisplayed"
    ></app-rejected-sent-requests>
  </div>
</div>
