<div
  class="container"
  *ngIf="displayed && acceptedSentRequests && acceptedSentRequests.length"
>
  <div *ngFor="let request of acceptedSentRequests" class="row request-holder">
    <div class="col-sm-10">
      <p style="margin-top: 15px; color: black;">
        Your request to borrow <b>{{ request.bookName }}</b> book is accepted by
        <b>{{ request.receiverName }}</b>
      </p>
    </div>
    <div class="col-sm-2">
      <button
        style="margin: 5px;"
        id="danger"
        class="btn btn-primary"
        (click)="onViewContacts(request)"
      >
        View Owner Contacts
      </button>
    </div>
  </div>
</div>

<div
  *ngIf="
    displayed && (!acceptedSentRequests || acceptedSentRequests.length === 0)
  "
>
  <div style="padding: 20px; text-align: center;" class="row request-holder">
    <strong>
      No Requests
    </strong>
  </div>
</div>

<swal #contactSwal title="Owner Contacts" html="{{ contactText }}"> </swal>
